*{
    position: relative;}

body{
    background-color: lightblue;
}
.cap {
    width: 500px;
    height: 600px;
    background-color: rgb(246, 206, 157);
    border-radius: 200px 200px 300px 300px;
    left: 300px;
    top: 50px;
}

.pel{
    height: 200px;
    background-color: black;
    border-radius: 150px 150px 0 0;
}


.front{
    height: 50px;
    background-color: rgb(246, 206, 157);
    
}
.cellaesq{
    height: 30px;
    width: 130px;
    background-color: black;
    float: left;
    border-radius: 100px 100px 0 0 ; 
    left: 85px;
    top: -10px;
}

.cellaesq:hover{
    top: -50px;
}
.celladreta{
    height: 30px;
    width: 130px;
    background-color: black;
    float: left;
    border-radius: 100px 100px 0 0 ; 
    left: 155px;
    top: -10px;
}

.ullesq{
    height: 60px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    left: 100px;
    top: 25px;
}

.ulldret{
    height: 60px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    left: 300px;
    top: -35px;
}

.pupilaesq{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: black;
    left: 135px;
    top: -80px;
}
.pupiladreta{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: black;
    left: 335px;
    top: -110px;
}

.orellaesq{
    height: 100px;
    width: 50px;
    border-radius: 50% 0 0 50%;
    background-color: rgb(252, 184, 101);
    left: -50px;
    top: -170px;
    background-image: linear-gradient(to left, rgb(246, 206, 157) ,rgb(252, 184, 101) );
}

.orelladreta{
    height: 100px;
    width: 50px;
    border-radius:  0 50% 50% 0;
    background-color: rgb(252, 184, 101);
    left: 500px;
    top: -270px;
    background-image: linear-gradient(to left,rgb(252, 184, 101), rgb(246, 206, 157) );
}

.nas{
    height: 55px;
    width: 65px;
    border-radius: 100% 100% 30% 30%;
    background-color: rgb(252, 184, 101);
    top: -350px;
    left: 217px;
}
.nas2{
    height: 100px;
    width: 50px;
    border-radius: 100px 100px 0   0  ;
    background-color: rgb(252, 184, 101);
    top: -490px;
    left: 225px;
    background-image: linear-gradient(to bottom,rgb(246, 206, 157) ,rgb(252, 184, 101));
}

.arrecadaesq{
    height: 50px;
    width: 20px;
    border-radius:  20%;
    background-color:grey;
    top: -290px;
    left: -25px;
    background-image: linear-gradient(to bottom, white, grey);
}

.arrecadadreta{
    height: 50px;
    width: 20px;
    border-radius:  20%;
    background-color:grey;
    top: -337px;
    left: 505px;
    background-image: linear-gradient(to bottom, white, grey);
}

.barbeta{
    height: 600px;
    width: 500px;
    background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 75%, rgba(0,0,0,1) 100%);
    border-radius: 200px 200px 300px 300px;
    top: -885px;
}
.boca1{
    width: 140px;
    height: 25px;
    border: 2px solid black;
    background: #ec6157;
    border-radius: 0 0 80% 80%;
    top: -1000px;
    left: 180px;
}

.boca1:hover{
    height: 60px;
}

.coll{
    width: 225px;
    height: 200px;
    background-color: rgb(246, 206, 157);
    top: 20px;
    left: 435px;
    z-index: -1;
}

.samarreta{
    width: 750px;
    height: 700px;
    background-color: blue;
    top: -60px;
    left: 175px;
    border-radius: 100px 100px 0 0;
}

.gorra{
    height: 20px;
    width: 300px;
    background-color: black;
    border-radius: 50px 50px 50px 50px;
    top: -1270px;
    left: 700px;
}

.gorra2{
    height: 40px;
    width: 60px;
    background-color: black;
    border-radius: 100%;
    top: -1490px;
    left: 520px;
}

